In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [4]:
df.isna().sum().sum()

0

In [12]:
df.groupby('Gear box type').first()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Drive wheels,Doors,Wheel,Color,Airbags
Gear box type,,,,,,,,,,,,,,,,,
Automatic,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,4x4,04-May,Left wheel,Silver,12
Manual,45814819,8781,-,FORD,Transit,1999,Microbus,No,CNG,4,0 km,8.0,Rear,02-Mar,Left wheel,Blue,0
Tiptronic,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,4x4,04-May,Left wheel,Black,8
Variator,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Front,04-May,Right-hand drive,Black,2

In [14]:

df["Mileage"] = df["Mileage"].str.replace(' km', '', regex=True).str.replace(',', '', regex=True).astype(float)

# Now, the "Mileage" column contains numeric values.

In [15]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000.0,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  float64
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(2), int64(4), object(12)
memory usage: 2.6+ MB

In [17]:
categorical_columns = ["Manufacturer", "Model", "Category", "Leather interior", "Fuel type", "Gear box type", "Drive wheels", "Doors", "Wheel", "Color"]

df = pd.get_dummies(df, columns=categorical_columns)

In [18]:
df.head()

,ID,Price,Levy,Prod. year,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ACURA,Manufacturer_ALFA ROMEO,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,45654403,13328,1399,2010,3.5,186005.0,6.0,12,0,0,...,0,0,0,0,0,0,1,0,0,0
1,44731507,16621,1018,2011,3,192000.0,6.0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
2,45774419,8467,-,2006,1.3,200000.0,4.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45769185,3607,862,2011,2.5,168966.0,4.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,45809263,11726,446,2014,1.3,91901.0,4.0,4,0,0,...,0,0,0,0,0,0,1,0,0,0

In [19]:
df.shape

(19237, 1711)

In [20]:
price=df['Price']

In [21]:
df.drop('Price',inplace=True,axis=1)

In [22]:
df['Price']=price

In [23]:
df.head()

,ID,Levy,Prod. year,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ACURA,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow,Price
0,45654403,1399,2010,3.5,186005.0,6.0,12,0,0,0,...,0,0,0,0,0,1,0,0,0,13328
1,44731507,1018,2011,3,192000.0,6.0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,16621
2,45774419,-,2006,1.3,200000.0,4.0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,8467
3,45769185,862,2011,2.5,168966.0,4.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,3607
4,45809263,446,2014,1.3,91901.0,4.0,4,0,0,0,...,0,0,0,0,0,1,0,0,0,11726

In [24]:
df.to_csv("Price_Predection_cleaned_data",index=False)